@charset "utf-8";

.ico {display: inline-block; vertical-align: middle; }

.ico-s {width: 13px; height: 13px; }
.ico-m {}
.ico-l {}

.ico-tel {background: url("../images/common/icon_tel_128.png") no-repeat 0 -1px; background-size: contain;}
.ico-mail {background: url("../images/common/icon_mail_128.png") no-repeat 0 -2px; background-size: contain;}